<div class="container">
    <h2 mat-dialog-title>{{ operacion }} Laboratorio</h2>
<mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="addEditLaboratorio()">
    <mat-dialog-content >
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="Nombre_Lab" matInput placeholder="Ingrese el Nombre" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Nombre_Lab')?.hasError('required') && form.get('Nombre_Lab')?.touched">
                        El nombre es un campo <strong>requerido</strong>
                    </span>
                    <span *ngIf="form.get('Nombre_Lab')?.hasError('maxlength')">
                        El nombre debe tener como maximo <strong>20 caracteres</strong>
                    </span>
                </div>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Horario</mat-label>
                    <input formControlName="Horario" matInput placeholder="Ingrese el Horario" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Horario')?.hasError('required') && form.get('Horario')?.touched">
                        El horario es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Direccion</mat-label>
                    <input formControlName="Direccion" matInput placeholder="Ingrese la Direccion" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Direccion')?.hasError('required') && form.get('Direccion')?.touched">
                        La direccion es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="Correo" matInput placeholder="Ingrese el Correo" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Correo')?.hasError('required') && form.get('Correo')?.touched">
                        El Correo es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="Telefono" matInput placeholder="Ingrese el Telefono" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Telefono')?.hasError('required') && form.get('Telefono')?.touched">
                        El telefono es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button type="button" (click)="cancelar()" mat-button >Cancelar</button>
    <button  type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</form>