<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        Administracion Clinica</a>
        <div class="navbar-brand">
            <mat-icon>medical_services</mat-icon>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item"><a class="nav-link active fs-6" aria-current="page"><mat-icon>person</mat-icon></a></li>
          <li class="nav-item">
            <a class="nav-link active fs-6" aria-current="page">Pacientes</a>  <!-- Tamaño de fuente más grande con fs-5 -->
          </li>
          
            <li class="nav-item"><a class="nav-link active fs-6" aria-current="page"><mat-icon>vaccines</mat-icon></a></li>
          <li class="nav-item">
            <a class="nav-link active fs-6" aria-current="page">Doctores</a> <!-- Tamaño de fuente más grande con fs-5 -->
          </li>

            <li class="nav-item"><a class="nav-link active fs-6" aria-current="page"><mat-icon>event_note</mat-icon></a></li>
          <li class="nav-item">
            <a class="nav-link active fs-6" aria-current="page">Consultas</a> <!-- Tamaño de fuente más grande con fs-5 -->
          </li>

          <li class="nav-item"><a class="nav-link active fs-6" aria-current="page"> <mat-icon>insights</mat-icon></a></li>
          <li class="nav-item">
            <a class="nav-link active fs-6" aria-current="page">Analisis</a> <!-- Tamaño de fuente más grande con fs-5 -->
          </li>

          <li class="nav-item"><a class="nav-link active fs-6" aria-current="page"> <mat-icon>science</mat-icon></a></li>
          <li class="nav-item">
            <a class="nav-link active fs-6" aria-current="page">Laboratorios</a> <!-- Tamaño de fuente más grande con fs-5 -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  