<div class="container">
    <h2 mat-dialog-title>{{ operacion }} Doctor</h2>
<mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="addEditDoctor()">
    <mat-dialog-content >
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="Nombre_Doc" matInput placeholder="Ingrese el Nombre" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Nombre_Doc')?.hasError('required') && form.get('Nombre_Doc')?.touched">
                        El nombre es un campo <strong>requerido</strong>
                    </span>
                    <span *ngIf="form.get('Nombre_Doc')?.hasError('maxlength')">
                        El nombre debe tener como maximo <strong>20 caracteres</strong>
                    </span>
                </div>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="Apellidos_Doc" matInput placeholder="Ingrese el Apellido" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Apellidos_Doc')?.hasError('required') && form.get('Apellidos_Doc')?.touched">
                        El apellido es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Especialidad</mat-label>
                    <input formControlName="Especialidad" matInput placeholder="Ingrese la Especialidad" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Especialidad')?.hasError('required') && form.get('Especialidad')?.touched">
                        La especialidad es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>No_Consultorio</mat-label>
                    <input formControlName="No_Consultorio" matInput placeholder="Ingrese el Consultorio" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('No_Consultorio')?.hasError('required') && form.get('No_Consultorio')?.touched">
                        El Consultorio es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field>
                    <mat-label>Turno</mat-label>
                    <mat-select formControlName="Turno">
                        <mat-option *ngFor="let item of Turno" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="error">
                    <span *ngIf="form.get('Turno')?.hasError('required') && form.get('Turno')?.touched">
                        El turno es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="Telefono" matInput placeholder="Ingrese el Telefono" autocomplete="off">    
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('Telefono')?.hasError('required') && form.get('Telefono')?.touched">
                        El telefono es un campo <strong>requerido</strong>
                    </span>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button type="button" (click)="cancelar()" mat-button >Cancelar</button>
    <button  type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</form>